@import "./base.css";

.constructionSign {
  font-size: 6rem;
  color: white;
}

.neon {
  animation: flicker 3s infinite alternate; 
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 40px var(--vt-c-neon),
    0 0 80px var(--vt-c-neon),
    0 0 90px var(--vt-c-neon),
    0 0 100px var(--vt-c-neon),
    0 0 150px var(--vt-c-neon);
}

.glow {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 73%, 77%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px var(--vt-c-neon),
      0 0 80px var(--vt-c-neon),
      0 0 90px var(--vt-c-neon),
      0 0 100px var(--vt-c-neon),
      0 0 150px var(--vt-c-neon);
  }
  20%, 24%, 55%, 75% {       
    text-shadow: none;
  }
}

@media (hover: hover) {
  a:hover {
    color: hsl(352, 88%, 41%);
  }
}
