@import "./base.css";

#content {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    color: hsl(352, 88%, 41%);
  }
}

@media (min-width: 1024px) {

  #content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    display: flex;
    place-items: center;
    padding-top: 100px;
    color: white;
  }
  
  body {
    background-color: rgb(44, 41, 41);
  }
}
