@import "./base.css";

.constructionSign {
  font-size: 6rem;
  color: white;
}

.neon {
  animation: flicker 3s infinite alternate; 
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 40px var(--vt-c-neon),
    0 0 80px var(--vt-c-neon),
    0 0 90px var(--vt-c-neon),
    0 0 100px var(--vt-c-neon),
    0 0 150px var(--vt-c-neon);
}

.glow {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
}

.task {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2vh;
  font-size: 20px;
  background-color: var(--vt-c-red-muted);
  color: beige;
}

.description {
  font-size: 15px;
}

.divider {
  border: 1px solid black;
  transition: all 1s linear;
}

.clickable {
  cursor:pointer;
}

@keyframes delayedFade {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes basicFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 73%, 77%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px var(--vt-c-neon),
      0 0 80px var(--vt-c-neon),
      0 0 90px var(--vt-c-neon),
      0 0 100px var(--vt-c-neon),
      0 0 150px var(--vt-c-neon);
  }
  20%, 24%, 55%, 75% {       
    text-shadow: none;
  }
}
